{% extends "security/login.html.twig" %}

{% block content %}
<style>
::-webkit-input-placeholder {opacity: 0.3}
::-moz-placeholder {opacity: 0.3}
:-ms-input-placeholder{opacity: 0.3}
:-moz-placeholder {opacity: 0.3}
</style>

	<div class="w3-col l4 m8 s11 w3-card w3-display-middle w3-border w3-opacity-min">
		<div class="w3-white">
			<form id="login" action="{{ path('login') }}" method="post">
				<div class="w3-padding-8 w3-blue w3-padding-small w3-xlarge w3-border-bottom"><i class="fa fa-unlock"></i> {%trans%}acess{%endtrans%}</div>
				<div class="w3-content w3-padding-16 w3-row-padding w3-large">
					<div class="w3-col m6 s12 w3-left-align w3-large">
						<label for="username">{%trans%}name{%endtrans%} *</label>
            <input type="text" id="username" placeholder="{%trans%}name{%endtrans%} *" class="w3-input w3-border" autofocus value="{{ last_username }}"  name="username"/> 
					</div>
					<div class="w3-col m6 s12 w3-left-align w3-large">
						<label for="password">Password *</label>
						<input type="password" id="password" class="w3-input w3-border" placeholder="Password *" name="_password" />
					</div>
					{% if error %}
					<div class="w3-col s12">
						<div class="w3-center w3-animate-left w3-text-red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					</div>
					{% endif %}
					<div class="w3-col s6 w3-margin-top">
						<button type="reset" class="w3-left w3-btn-block w3-button w3-border w3-white" onclick="reset()"><i class="fa fa-eraser"></i> {%trans%}clear{%endtrans%}</button>
					</div>
					<div class="w3-col s6 w3-margin-top">
						<span class="pull-right _forgot_password">
								<a href="#" onclick="passwordRecovery()">Esqueci-me password?</a>
						</span>
					</div>
					<div class="w3-col s6 w3-margin-top">
						<button type="submit" class="w3-right w3-btn-block w3-button w3-border w3-green"><i class="fa fa-check"></i> {%trans%}submit{%endtrans%}</button>
					</div>
				</div>
				<input type="hidden" name="_target_path" value="/admin/" />
				<input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate') }}">
			</form>

			<form id="password_recovery" class="w3-hide">
				<div class="w3-padding-8 w3-blue w3-padding-small w3-xlarge w3-border-bottom"><i class="fa fa-unlock"></i> {%trans%} password_recovery.recovery {%endtrans%}</div>
				<div class="w3-content w3-padding-16 w3-row-padding w3-large">
					<div class="w3-col m6 s12 l12 w3-left-align w3-large">
						{# <label for="username">{%trans%}email{%endtrans%} *</label> #}
						<input type="text" id="email" placeholder="{%trans%}email{%endtrans%} *" class="w3-input w3-border" autofocus value="" name="email" required/>

						<span id="property_bulletin_submit" class="w3-btn w3-block w3-border w3-green w3-section" onclick="$(`#password_recovery`).trigger('submit')">
							 {%trans%}submit{%endtrans%}
            </span>
            <span id="back" class="w3-btn w3-block w3-border w3-section" onclick="goBack()">
							 {%trans%}password_recovery.go_back{%endtrans%}
						</span>
					</div>
					{% if error %}
					<div id="login_error" class="w3-col s12">
						<div class="w3-center w3-animate-left w3-text-red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					</div>
					{% endif %}
					{# <div class="w3-col m6 s12 l12 w3-left-align w3-large w3-margin-top">
						<button type="submit" class="w3-right w3-btn-block w3-button w3-border w3-green"><i class="fa fa-check"></i> {%trans%}submit{%endtrans%}</button>
					</div> #}

				</div>
			</form>

		</div>
	</div>

	<script>

    function reset() {
      $( "#username").val('');
      $( "#password").val('');
    }

    function goBack() {
      //window.history.back();
      $( "#password_recovery").addClass("w3-hide");
      $( "#login, #login_error").removeClass("w3-hide");
    }

		function passwordRecovery(){
            $( "#password_recovery").removeClass("w3-hide");
            $( "#login, #login_error").addClass("w3-hide");
		}

		$('#password_recovery').parsley();
		
        $('#password_recovery').on('submit',function(e){
            $('.w3-overlay').show()

            e.preventDefault()
            setTimeout(function(){
                $.ajax({  
                url:'{{ path('password_recovery') }}',
                type: "POST",
                data:$('#password_recovery').serialize(),
                success: function(data){
                    //console.log(data)
                    $('.w3-overlay').hide()
                    if (data.status == 1){
                        $('#parsley-id-5').remove();
                        $('#email').after("<p class='w3-text-green'> Uma nova password foi enviada para o seu email </p>");
                        setTimeout(function(){ location.reload(); }, 5000);
                    }
                    else{
                      //$('#modal-fields').show()
                      //$('#set-fields').html(data.message)
                      if($('#parsley-id-5').children().length == 0) $('#email').parsley().addError('forcederror', {message: '{%trans%}password_recovery.email_invalid{%endtrans%}', updateClass: true});
                    }
                },
                error:function(data){
                    //console.log(data)
                    $('.w3-overlay').hide()
                    $('#modal-error').show()
                }
                })
            }, 500)
        })

	</script>
{% endblock %}


