
{% extends "base.html.twig" %}
{% block content %} 

	{#<div class="col-xs-12  col-md-9 col-md-push-3" role="main">#}
		
			<div class="main-title">
				<h1 class="main-title__primary">{% trans %}navbar.about_us{% endtrans %}</h1>
				{#<h3 class="main-title__secondary">{{about.name}}</h3>#}
			</div>
			<div>
				<div class="panel-grid row m-b-0">
					<div class="col-md-6 panel-grid-cell">
						<div class="textwidget">
							{{about.rgpdHtml|raw}}
						</div>
					</div>

					<div class="col-md-6 panel-grid-cell">
						<div class="textwidget lightbox">
							<p>
								<a href="{{asset('assets/clarinhaguedes/images/mulher-gravida2.jpg')}}"><img class="alignnone size-full wp-image-99" src="{{asset('assets/clarinhaguedes/images/mulher-gravida2.jpg')}}" alt="image (1)" width="450" height="180"></a>
							</p>
							{#<p>
								<a href="{{asset('assets/clarinhaguedes/images/img_6549.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/clarinhaguedes/images/img_6549.jpg')}}" alt="image (6549)" width="550" height="180"></a>
							</p>
							<p>
								<a href="{{asset('assets/clarinhaguedes/images/2.jpg')}}"><img class="alignnone size-full wp-image-52" src="{{asset('assets/clarinhaguedes/images/4.jpg')}}" alt="image (2)" width="550" height="180"></a>
							</p>#}
						</div>
					</div>

				</div>

			</div>
		</div>
	{#</div>#}

{% endblock %}
