{% extends "base.html.twig" %}
{% block content %} 
	<div class="content-container">
	{#<div class="col-xs-12  col-md-9 col-md-push-3" role="main">#}
		
			<div class="main-title">
				<h1 class="main-title__primary">{% trans %}navbar.consultations{% endtrans %}</h1>
				{# <h3 class="main-title__secondary">We will help you with your problems. We are here for you.</h3> #}
			</div>
			<article>
				<div class="panel-grid row m-b-md">
					{#<div class="col-md-6 panel-grid-cell">
						<div class="consultations-description">
							
						</div>
					</div>

					<div class="col-md-6 panel-grid-cell">
						<div class="textwidget lightbox">
							{#<p>
								<a href="{{asset('assets/clarinhaguedes/images/t02_1.jpg')}}"><img class="alignnone size-full wp-image-99" src="{{asset('assets/clarinhaguedes/images/t02_1.jpg')}}" alt="image (1)" width="450" height="250"></a>
							</p>#}
							{#<p>
								<a href="{{asset('assets/clarinhaguedes/images/t1_01.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/clarinhaguedes/images/t1_01.jpg')}}" alt="image (2)" width="450" height="250"></a>
							</p>
						</div>
					</div>
				</div>#}
					{% for consultation  in consultations %}
						<div class="col-md-6 panel-grid-cell">
							<div class="so-panel">
								<div class="page-box  page-box--block">
									{% set path = asset('/upload/product/')  %}
									<a class="page-box__picture" href="{{ path('consultations', {id:consultation.id, text:(consultation.title|url_encode)}) }}"><img width="360" height="240" src="{{path}}{{consultation.image}}" class="attachment-page-box size-page-box wp-post-image" alt="{{consultation.title}}"></a>
									<div class="page-box__content hide_text">
										<h5 class="page-box__title  text-uppercase"><a href="{{ path('consultations', {id:consultation.id, text:(consultation.title|url_encode)}) }}">{{consultation.title}}</a></h5>
										<p>{{ (consultation.description|striptags|length > 200 ? consultation.description|striptags|slice(0, 200)~ "..." : consultation.description)|raw }}</p>
									</div>
									<p style="margin: 0 0 30px;"><a href="{{ path('consultations', {id:consultation.id, text:(consultation.title|url_encode)}) }}" class="read-more  read-more--page-box">{% trans %}more{% endtrans %}</a></p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</article>
		</div>
	{#</div>#}

{% endblock %}

