
{% extends "base.html.twig" %}
{% block content %} 
	{#<div class="col-xs-12  col-md-9 col-md-push-3" role="main">#}
		<div class="content-container">
			<div class="main-title">
				<h1 class="main-title__primary">{% trans %}navbar.contact{% endtrans %}</h1>
				{#<h3 class="main-title__secondary">Email Geral: info@apartamentosturisticospraiagrande.pt</h3>#}
			</div>
			<article>
				<p style="box-sizing: border-box; color: rgb(119, 119, 119); font-family: proxima-nova, sans-serif; font-size: 20px; font-weight: 400;"><strong>{% trans %}contacts.description{% endtrans %}</strong></p>
				<p style="box-sizing: border-box; color: rgb(119, 119, 119); font-family: proxima-nova, sans-serif; font-size: 20px; font-weight: 400;"><img src="{{asset('assets/clarinhaguedes/images/phone.png')}}">&nbsp (+351) 282 484 464</p>
				<p style="box-sizing: border-box; color: rgb(119, 119, 119); font-family: proxima-nova, sans-serif; font-size: 20px; font-weight: 400;"><img src="{{asset('assets/clarinhaguedes/images/email.png')}}">&nbsp info@obstetricia-ginecologia.com</p><br/>
				<div class="panel-grid row">
					<div class="col-md-12 panel-grid-cell">
						<div class="map google-maps" id="map_canvas">
							<iframe width="100%" height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3180.9080498248977!2d-8.579426284360412!3d37.131102556701634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1b2f3406ca4b77%3A0xe3df987564eb3889!2sClarinha%20Guedes%2C%20Servi%C3%A7os%20M%C3%A9dicos%2C%20Lda.!5e0!3m2!1spt-PT!2spt!4v1581080656934!5m2!1spt-PT!2spt" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
							{#<iframe width="100%" height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3181.231020904299!2d-8.5188304843606!3d37.12341845713755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1b284df25943f1%3A0x4beab9c7769d8fd7!2sAPARTAMENTOS%20TURISTICOS%20PRAIA%20GRANDE!5e0!3m2!1spt-PT!2spt!4v1579864156216!5m2!1spt-PT!2spt" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>#}
							{#<iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=350&amp;hl=pt&amp;coord={{company.getCoordsGoogleMaps}}&amp;q=Hospital+Particular+do+Algarve+-+Alvor+-+Grupo+HPA+Sa%C3%BAde+(Estr.+do+Alvor%2C+8500-322+Alvor%2C+Portugal)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>#}
						</div>
					</div>
				</div>
				<div class="panel-grid row m-b-0">
					<div class="col-md-12 panel-grid-cell">

						<div class="textwidget">
						<h5>Clarinha Guedes, {% trans %}contacts.description2{% endtrans %}, Lda.</h5>
							<p>Urbanização Mar e Serra,
								8500-783 Portimão
							</p>
						</div>
					</div>
				</div>

				<br><br>

				{#<div class="panel-grid row">
					<div class="col-md-12 panel-grid-cell">
						<div class="map google-maps" id="map_canvas">
							<iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=350&amp;hl=pt&amp;coord={{company.getCoordsGoogleMaps}}&amp;q=Av.+Dom+Sebasti%C3%A3o+129+8600-502+Lagos+(Av.+Dom+Sebasti%C3%A3o+129+8600-502+Lagos)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						</div>
					</div>
				</div>
				{#<div class="panel-grid row m-b-0">
					<div class="col-md-12 panel-grid-cell">

						<div class="textwidget">
						<h5>Hospital São Gonçalo de Lagos</h5>
							<p>Avenida Dom Sebastião 129,
								8600-502 Lagos
							</p>
						</div>
					</div>
				</div>
	
				<br><br>

				<div class="panel-grid row">
					<div class="col-md-12 panel-grid-cell">
						<div class="map google-maps" id="map_canvas">
							<iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=350&amp;hl=pt&amp;coord={{company.getCoordsGoogleMaps}}&amp;q=Centro+Comercial+Algarve+Shopping%2C+Loja+A104%0D%0ATavagueira%2C+Guia%0D%0A8200-417+Albufeira+(Centro+Comercial+Algarve+Shopping%2C+Loja+A104%0D%0ATavagueira%2C+Guia%0D%0A8200-417+Albufeira)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						</div>
					</div>
				</div>
				<div class="panel-grid row m-b-0">
					<div class="col-md-12 panel-grid-cell">

						<div class="textwidget">
						<h5>Clínica Particular do Algarve - Guia</h5>
							<p>Centro Comercial Algarve Shopping, Loja A104
								Tavagueira, Guia
								8200-417 Albufeira
							</p>
						</div>
					</div>
				</div>

				<br><br>

				<div class="panel-grid row">
					<div class="col-md-12 panel-grid-cell">
						<div class="map google-maps" id="map_canvas">
							<iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=350&amp;hl=pt&amp;coord={{company.getCoordsGoogleMaps}}&amp;q=Centro+Comercial+Algarve+Shopping%2C+Loja+A104%0D%0ATavagueira%2C+Guia%0D%0A8200-417+Albufeira+(Centro+Comercial+Algarve+Shopping%2C+Loja+A104%0D%0ATavagueira%2C+Guia%0D%0A8200-417+Albufeira)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						</div>
					</div>
				</div>
				<div class="panel-grid row m-b-0">
					<div class="col-md-12 panel-grid-cell">

						<div class="textwidget">
						<h5>Clínica Rio Arade - CIOA</h5>
							<p>Edificio Casa do Rio, loja 2/L,
								Largo do Dique
								8500-531 Portimão
							</p>
						</div>
					</div>
				</div>#}

				
				{#<br><br>

				<div class="panel-grid row">
					<div class="col-md-12 panel-grid-cell">
						<div class="map google-maps" id="map_canvas">
							<iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=350&amp;hl=pt&amp;coord={{company.getCoordsGoogleMaps}}&amp;q=Edificio+Casa+do+Rio%2C+loja+2%2FL%2C%0D%0ALargo+do+Dique%0D%0A8500-531+Portim%C3%A3o+(Edificio+Casa+do+Rio%2C+loja+2%2FL%2C%0D%0ALargo+do+Dique%0D%0A8500-531+Portim%C3%A3o)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						</div>
					</div>
				</div>
				<div class="panel-grid row m-b-0">
					<div class="col-md-12 panel-grid-cell">

						<div class="textwidget">
						<h5>Clínica Rio Arade - CIOA</h5>
							<p>Morada: Edificio Casa do Rio, loja 2/L,
								Largo do Dique
								8500-531 Portimão
							</p>
							<p>Telefone: 282 401 281 – 960 428 836 (9:30-12:30; 14:00-19:00)</p>
							<p>Email: cioalgarve@gmail.com</p>
						</div>
					</div>
				</div>#}
			</article>
		</div>
	{#</div>#}

{% endblock %}
