
{% extends "base.html.twig" %}
{% block meta %}
        {% if exams_list.seoDescription is not empty %} 
			<meta name="description" content="{{exams_list.seoDescription}}">
			{{ parent() }} 
		{% endif %} 
{% endblock %}
{% block content %} 
	{#<div class="col-xs-12  col-md-9 col-md-push-3" role="main">#}
		<div class="content-container">
			<div class="main-title">
				<h1 class="main-title__primary">{{exams_list["title"]}}</h1>
			</div>
			<div>
				<div class="panel-grid row m-b-0">
					<div class="col-md-12 panel-grid-cell">
						<div class="textwidget">
							<img src="{{asset('/upload/product/' ~ exams_list["image"] ~ '')}}" 
								srcset="{{asset('/upload/product/' ~ exams_list["image"] ~ '')}} 425w, 
								{{asset('/upload/product/' ~ exams_list["image"] ~ '')}} 850w" 
								sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (width: 1200px) 850px, calc(100vw-20px)"
								alt="{{exams_list["title"]}}" align="left" style="margin: 0px 10px 10px 0px">
								{{exams_list["description"] | raw}}
						
						</div>
					</div>

					{# <div class="col-md-6 panel-grid-cell">
						<div class="textwidget lightbox">
							<p>
								<a href="assets/images/image-31.jpg"><img class="alignnone size-full" src="assets/images/image-31.jpg" alt="image (31)" width="850" height="480"></a>
							</p>
							<p>
								<a href="assets/images/image-45.jpg"><img class="alignnone size-full" src="assets/images/image-45.jpg" alt="image (45)" width="850" height="480"></a>
							</p>
						</div>
					</div> #}

				</div>

			</div>
		</div>
	{#</div>#}

{% endblock %}
