
{% extends "base.html.twig" %}
{% block content %} 
	{#<div class="col-xs-12  col-md-9 col-md-push-3" role="main">#}
		<div class="content-container">
			<div class="main-title">
				<h1 class="main-title__primary">{% trans %}navbar.exams{% endtrans %}</h1>
				{# <h3 class="main-title__secondary">title__secondary</h3> #}
			</div>
			<div>
				{#<div class="panel-grid row m-b-0">
					<div class="col-md-12 panel-grid-cell">
						<div class="textwidget">
						<img src="{{asset('/upload/product/' ~ exams[0].image ~ '')}}" 
								srcset="{{asset('/upload/product/' ~ exams[0].image ~ '')}} 425w, 
								{{asset('/upload/product/' ~ exams[0].image ~ '')}} 850w" 
								sizes="(width: 768px) 720px, (width: 992px) 700px, (width: 1200px) 850px, calc(100vw-20px)"
								alt="{{exams[0].title}}" align="left" style="margin: 0px 10px 10px 0px">
							<span> {{exams[0].description|raw}} </span><br><br>
						</div>
					</div>#}

			<article>
				<div class="panel-grid row m-b-md">
					{% for exam  in exams %}
						<div class="col-md-6 panel-grid-cell">
							<div class="so-panel">
								<div class="page-box  page-box--block">
									{% set path = asset('/upload/product/')  %}
									<a class="page-box__picture" href="{{ path('exams', {id:exam.id, text:(exam.title|url_encode)}) }}"><img width="360" height="240" src="{{path}}{{exam.image}}" class="attachment-page-box size-page-box wp-post-image" alt="{{exam.title}}"></a>
									<div class="page-box__content hide_text">
										<h5 class="page-box__title  text-uppercase"><a href="{{ path('exams', {id:exam.id, text:(exam.title|url_encode)}) }}">{{exam.title}}</a></h5>
										<p>{{ (exam.description|striptags|length > 200 ? exam.description|striptags|slice(0, 200)~ "..." : exam.description)|raw }}</p>
									</div>
									<p style="margin: 0 0 30px;"><a href="{{ path('exams', {id:exam.id, text:(exam.title|url_encode)}) }}" class="read-more  read-more--page-box">{% trans %}more{% endtrans %}</a></p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</article>

					{#<div class="col-md-6 panel-grid-cell">
								<div class="textwidget lightbox">
									{% for exams in exams %}
										{% if exams.details.detail is not empty %} 
											<h6 class="main-title__primary">{{exams.details.detail[0]}}</h6>
											{{exams.details.detail[1]|raw}}
										{% endif %}
									{% endfor %}
									
								</div>
					</div>#}

					 {#<div class="col-md-6 panel-grid-cell">
						<div class="textwidget lightbox">
							<p>
								<a href="{{asset('assets/orlandotur/images/igreja.jpg')}}"><img class="alignnone size-full wp-image-99" src="{{asset('assets/orlandotur/images/igreja.jpg')}}" alt="image (2)" width="850" height="480"></a>
							</p>
							{#<p>
								<a href="{{asset('assets/orlandotur/images/image-42.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/orlandotur/images/image-42.jpg')}}" alt="image (42)" width="850" height="480"></a>
							</p>
							<p>
								<a href="{{asset('assets/orlandotur/images/image-4.jpg')}}"><img class="alignnone size-full wp-image-52" src="{{asset('assets/orlandotur/images/image-4.jpg')}}" alt="image (4)" width="850" height="480"></a>
							</p>#}
						{#</div>
					</div>#} 

				</div>

			</div>
		</div>
	{#</div>#}

{% endblock %}
