
{% extends "base.html.twig" %}
{% block content %} 
	<div class="content-container">
	{#<div class="col-xs-12  col-md-9 col-md-push-3" role="main">#}
		
			<div class="main-title">
				<h1 class="main-title__primary">{% trans %}navbar.gallery{% endtrans %}</h1>
				<h3 class="main-title__secondary">{% trans %}gallery.description{% endtrans %}</h3>
			</div>
			<article>
				<div class="panel-grid row m-b-md">
					
					<div class="col-md-6 panel-grid-cell">
						<div class="textwidget lightbox">
						<p>
							<a href="{{asset('assets/clarinhaguedes/images/clarinha-guedes-03.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/clarinhaguedes/images/clarinha-guedes-03.jpg')}}" alt="image (2)" width="450" height="250"></a>
						</p>

						<p>
							<a href="{{asset('assets/clarinhaguedes/images/clarinha-guedes-01.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/clarinhaguedes/images/clarinha-guedes-01.jpg')}}" alt="image (2)" width="450" height="250"></a>
						</p>

						<p>
							<a href="{{asset('assets/clarinhaguedes/images/e-SDC12230.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/clarinhaguedes/images/e-SDC12230.jpg')}}" alt="image (5)" width="450" height="250"></a>
						</p>

						<p>
							<a href="{{asset('assets/clarinhaguedes/images/f-SDC12234.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/clarinhaguedes/images/f-SDC12234.jpg')}}" alt="image (7)" width="450" height="250"></a>
						</p>
						</div>
					</div>

					<div class="col-md-6 panel-grid-cell">
						<div class="textwidget lightbox">
							<p>
								<a href="{{asset('assets/clarinhaguedes/images/clarinha-guedes-02.jpg')}}"><img class="alignnone size-full wp-image-99" src="{{asset('assets/clarinhaguedes/images/clarinha-guedes-02.jpg')}}" alt="image (2)" width="450" height="250"></a>
							</p>

							<p>
							<a href="{{asset('assets/clarinhaguedes/images/clarinha-guedes-04.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/clarinhaguedes/images/clarinha-guedes-04.jpg')}}" alt="image (4)" width="450" height="250"></a>
							</p>
							
							<p>
							<a href="{{asset('assets/clarinhaguedes/images/g-SDC12236.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/clarinhaguedes/images/g-SDC12236.jpg')}}" alt="image (6)" width="450" height="250"></a>
							</p>

							<p>
							<a href="{{asset('assets/clarinhaguedes/images/h-SDC12242.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/clarinhaguedes/images/h-SDC12242.jpg')}}" alt="image (8)" width="450" height="250"></a>
							</p>
						</div>
					</div>
				
				</div>
					{#{% for disorder in frequent_disorders %}
						<div class="col-md-4 panel-grid-cell">
							<div class="so-panel">
								<div class="page-box  page-box--block">
									{% set path = asset('/upload/product/')  %}
									<a class="page-box__picture" href="{{ path('frequent_disorder', {id:disorder.id, text:(disorder.title|url_encode)}) }}"><img width="360" height="240" src="{{path}}{{disorder.image}}" class="attachment-page-box size-page-box wp-post-image" alt="{{disorder.title}}"></a>
									<div class="page-box__content hide_text">
										<h5 class="page-box__title  text-uppercase"><a href="{{ path('frequent_disorder', {id:disorder.id, text:(disorder.title|url_encode)}) }}">{{disorder.title}}</a></h5>
										<p>{{ (disorder.description|striptags|length > 200 ? disorder.description|striptags|slice(0, 200)~ "..." : disorder.description)|raw }}</p>
									</div>
									<p style="margin: 0 0 30px;"><a href="{{ path('frequent_disorder', {id:disorder.id, text:(disorder.title|url_encode)}) }}" class="read-more  read-more--page-box">{% trans %}more{% endtrans %}</a></p>
								</div>
							</div>
						</div>
					{% endfor %}#}
				</div>
			</article>
		</div>
	{#</div>#}

{% endblock %}
