{% extends "base.html.twig" %} 
{% block content %} 
{#<div class="col-xs-12  col-md-9 col-md-push-3" role="main">#}

                <div class="jumbotron  jumbotron--with-captions">
                    <div class="carousel  slide  fade" id="headerCarousel" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner">
                            {% for banner in banners %}
                                {% if banner.isActive %}
                                {% if loop.index0 == 0 %}
                                    {% set active = "active" %}
                                    {%else%}
                                    {% set active = "false" %}
                                {% endif %}

                                    <div class="item  {{active}}"> <img src="{% trans %} banner.description  {% endtrans %}">
                                    {#<div class="item  {{active}}"> <img src="{{asset('/upload/banner/' ~ banner.image ~ '')}}" srcset="{{asset('/upload/banner/' ~ banner.image ~ '')}} 425w, {{asset('/upload/banner/' ~ banner.image ~ '')}} 850w" sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                                                alt="&quot;{% trans %} banner.description  {% endtrans %}&quot;">#}
                                            {#<div class="jumbotron-content">
                                                <h1 class="jumbotron-content__title">{{banner.data[1]}}</h1>#}
                                                {#<div class="jumbotron-content__description">
                                                    {# <p><i>–</i>&nbsp;{% trans %}banner.unknown {% endtrans %}</p> #}
                                                {#</div>
                                            </div>#}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {# <div class="item"> <img src="{{asset('assets/clarinhaguedes/images/image-24-425x200.jpg')}}" srcset="{{asset('assets/clarinhaguedes/images/image-24-425x200.jpg')}} 425w, {{asset('assets/clarinhaguedes/images/image-24-850x400.jpg')}} 850w" sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                                    alt="&quot;{% trans %} banner.description2  {% endtrans %}&quot;">
                                <div class="jumbotron-content">
                                    <h1 class="jumbotron-content__title">{% trans %} banner.description2  {% endtrans %}</h1>
                                    <div class="jumbotron-content__description">
                                        <p><i>–</i>&nbsp;Mahatma Gandhi</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item active"> <img src="{{asset('assets/clarinhaguedes/images/image-6-425x200.jpg')}}" srcset="{{asset('assets/clarinhaguedes/images/image-6-425x200.jpg')}} 425w, {{asset('assets/clarinhaguedes/images/image-6-850x400.jpg')}} 850w" sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                                    alt="&quot;{% trans %} banner.description3  {% endtrans %}&quot;">
                                <div class="jumbotron-content">
                                    <h1 class="jumbotron-content__title">{% trans %} banner.description3  {% endtrans %}</h1>
                                    <div class="jumbotron-content__description">
                                        <p><i>–</i>&nbsp;Nelson Mandela</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item"> <img src="{{asset('assets/clarinhaguedes/images/image-8-425x200.jpg')}}" srcset="{{asset('assets/clarinhaguedes/images/image-8-425x200.jpg')}} 425w, {{asset('assets/clarinhaguedes/images/image-8-850x400.jpg')}} 850w" sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                                    alt="&quot;{% trans %} banner.description4  {% endtrans %}&quot;">
                                <div class="jumbotron-content">
                                    <h1 class="jumbotron-content__title">"{% trans %} banner.description4  {% endtrans %}"</h1>
                                    <div class="jumbotron-content__description">
                                        <p><i>–</i>&nbsp;{% trans %}banner.unknown {% endtrans %}</p>
                                    </div>
                                </div>
                            </div> #}
                        </div>
                        {# <a class="left  jumbotron__control" href="#headerCarousel" role="button" data-slide="prev"> <i class="fa  fa-chevron-left"></i> </a>
                        <a class="right  jumbotron__control" href="#headerCarousel" role="button" data-slide="next"> <i class="fa  fa-chevron-right"></i> </a> #}
                    </div>
                </div>


                <div class="content-container">
                    <article>
                        <div class="panel-grid row">
                            {% for item in landing_page %}
                                <div class="col-md-6 panel-grid-cell">
                                    <div class="so-panel panel-first-child panel-last-child">
                                        <h3 class="widget-title">{{item.title}}</h3>
                                        <div class="textwidget">
                                            {{item.description|raw}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-6 panel-grid-cell">
                                <div class="textwidget lightbox">
                                    <p>
							            <a href="{{asset('assets/clarinhaguedes/images/clarinha-guedes-07.jpg')}}"><img class="alignnone size-full wp-image-99" src="{{asset('assets/clarinhaguedes/images/clarinha-guedes-07.jpg')}}" alt="image (1)" width="450" height="250"></a>
							        </p>
                                </div>
                            </div>
                        </div>

                        {#<div class="panel-grid row">
                            <div class="content-container-slider">
                                {% for apartment in apartments %}
                                    <div class="col-md-4">
                                        <div class="so-panel widget widget_pw_featured_page widget-featured-page panel-first-child panel-last-child" id="panel-6-2-0-0">
                                            <div class="page-box  page-box--block">
                                                {% set path = asset('/upload/product/')  %}
                                                <a class="page-box__picture" href="{{ path('beach', {id:apartment.id, text:(apartment.title|url_encode)}) }}"><img width="360" height="240" src="{{path}}{{apartment.image}}" class="attachment-page-box size-page-box wp-post-image" alt="Clinica"></a>
                                                {#<div class="hide_text page-box__content">
                                                    {#<h5 class="page-box__title  text-uppercase"><a href="{{ path('beach', {id:apartment.id, text:(apartment.title|url_encode)}) }}ra">{{apartment.title}}</a></h5>#}
                                                        {#<p>{{beachs.description|raw}}</p> 
                                                        <p>{{rawcontent|length > 200 ? rawcontent|slice(0, 200) ~ '...' : rawcontent}}</p>#}
                                                        {#<p>{{ (apartment.description|striptags|length > 200 ? apartment.description|striptags|slice(0, 200)~ "..." : apartment.description)|raw }}</p>
                                                </div>
                                                {#<p><a href="{{ path('beach', {id:apartment.id, text:(apartment.title|url_encode)}) }}" class="read-more  read-more--page-box">{% trans %}more{% endtrans %}</a></p>#}
                                            {#</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>#}

                        <div class="panel-grid row">
                            <h2>{% trans %} banner.description2 {% endtrans %}</h2><br/>
                            <div class="content-container-slider">
                                
                                {% for consultation in consultations %}
                                    <div class="col-md-4">
                                        <div class="so-panel widget widget_pw_featured_page widget-featured-page panel-first-child panel-last-child" id="panel-6-2-0-0">
                                            <div class="page-box  page-box--block">
                                                {% set path = asset('/upload/product/')  %}
                                                <a class="page-box__picture" href="{{ path('consultations', {id:consultation.id, text:(consultation.title|url_encode)}) }}"><img width="360" height="240" src="{{path}}{{consultation.image}}" class="attachment-page-box size-page-box wp-post-image" alt="Consultas"></a>
                                                <div class="hide_text page-box__content">
                                                    <h5 class="page-box__title  text-uppercase"><a href="{{ path('consultations', {id:consultation.id, text:(consultation.title|url_encode)}) }}ra">{{consultation.title}}</a></h5>
                                                        {#<p>{{consultation.description|raw}}</p> #}
                                                        {#<p>{{rawcontent|length > 200 ? rawcontent|slice(0, 200) ~ '...' : rawcontent}}</p>#}
                                                        {#<p>{{ (beachs.description|striptags|length > 200 ? beachs.description|striptags|slice(0, 200)~ "..." : beachs.description)|raw }}</p>#}
                                                </div>
                                                {#<p><a href="{{ path('consultations', {id:consultation.id, text:(consultation.title|url_encode)}) }}" class="read-more  read-more--page-box">{% trans %}more{% endtrans %}</a></p>#}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="panel-grid row">
                            <h2>{% trans %} banner.description3 {% endtrans %}</h2><br/>
                            <div class="content-container-slider">
                                {% for exam in exams %}
                                    <div class="col-md-4">
                                        <div class="so-panel widget widget_pw_featured_page widget-featured-page panel-first-child panel-last-child" id="panel-6-2-0-0">
                                            <div class="page-box  page-box--block">
                                                {% set path = asset('/upload/product/')  %}
                                                <a class="page-box__picture" href="{{ path('exams', {id:exam.id, text:(exam.title|url_encode)}) }}"><img width="360" height="240" src="{{path}}{{exam.image}}" class="attachment-page-box size-page-box wp-post-image" alt="Exames"></a>
                                                <div class="hide_text page-box__content">
                                                    <h5 class="page-box__title  text-uppercase"><a href="{{ path('exams', {id:exam.id, text:(exam.title|url_encode)}) }}ra">{{exam.title}}</a></h5>
                                                        {#<p>{{beachs.description|raw}}</p>#} 
                                                        {#<p>{{rawcontent|length > 200 ? rawcontent|slice(0, 200) ~ '...' : rawcontent}}</p>#}
                                                        {#<p>{{ (apartment.description|striptags|length > 200 ? apartment.description|striptags|slice(0, 200)~ "..." : apartment.description)|raw }}</p>#}
                                                </div>
                                                {#<p><a href="{{ path('beach', {id:apartment.id, text:(apartment.title|url_encode)}) }}" class="read-more  read-more--page-box">{% trans %}more{% endtrans %}</a></p>#}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    
                    </article>
                </div>
            </div>
{% endblock %}