{% for consultation in consultations %}
    <li class="menu-item"><a href="{{ path('consultations_list', {id:consultation.id, text:(consultation.title|url_encode)}) }}">{{consultation.title}}</a></li>
{% endfor %}