
{% extends "base.html.twig" %}
{% block content %} 
	{#<div class="col-xs-12  col-md-9 col-md-push-3" role="main">#}
		<div class="content-container">
			<div class="main-title">
				<h1 class="main-title__primary">{{other_services[0].title}}</h1>
				{# <h3 class="main-title__secondary">title__secondary</h3> #}
			</div>
			<div>
				<div class="panel-grid row m-b-0">
					<div class="col-md-12 panel-grid-cell">
						<div class="textwidget">
						{# <img src="{{asset('/upload/product/' ~ services[0].image ~ '')}}" 
								srcset="{{asset('/upload/product/' ~ services[0].image ~ '')}} 425w, 
								{{asset('/upload/product/' ~ services[0].image ~ '')}} 850w" 
								sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
								alt="{{services[0].title}}"> #}
							<span> {{other_services[0].description|raw}} </span><br><br>
							{% for item in other_services %}
								{% if item.details.detail is not empty %} 
									<h6 class="main-title__primary">{{item.details.detail[0]}}</h6>
									{{item.details.detail[1]|raw}}
								{% endif %}
							{% endfor %}
						</div>
					</div>

					 {#<div class="col-xs-12 col-md-8">#}
						
							<div class="col-md-6 panel-grid-cell">
								<p>
									<a href="{{asset('assets/clarinhaguedes/images/baby-feet-836867_640.jpg')}}"><img class="alignnone size-full wp-image-99" src="{{asset('assets/clarinhaguedes/images/baby-feet-836867_640.jpg')}}" alt="image (51)" width="450" height="180"></a>
								</p>
							
								<p>
									<a href="{{asset('assets/clarinhaguedes/images/pregnant-2568395_640.jpg')}}"><img class="alignnone size-full wp-image-52" src="{{asset('assets/clarinhaguedes/images/pregnant-2568395_640.jpg')}}" alt="image (4)" width="450" height="180"></a>
								</p>
							
							</div>
							<div class="col-md-6 panel-grid-cell">
								<p>
									<a href="{{asset('assets/clarinhaguedes/images/pregnant-1245703_640.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/clarinhaguedes/images/pregnant-1245703_640.jpg')}}" alt="image (42)" width="450" height="180"></a>
								</p>
							</div>
						
					{#</div> #}

				</div>

			</div>
		</div>
	{#</div>#}

{% endblock %}
