{% for item in sidebar %}
    <div class="widget  widget-about-us">
        <div id="carousel-people-pw_about_us-2" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                {#<div class="item active"> <img class="about-us__image" src="{{asset('assets/clarinhaguedes/images/image-51.jpg')}}" alt="About us image">
                    <h5 class="about-us__name">{{item.title}}</h5>
                    <p class="about-us__description">{{item.description|striptags|raw}}</p>
                    <a href="{{ path('about') }}" class="read-more  about-us__link">{% trans %}more{% endtrans %}</a></div>#}
            </div>
        </div>
    </div>
{% endfor %}