a,
.footer a {
    color: #1fa7da
}

a:hover,
.footer a:hover {
    color: #129acd
}

.btn-primary,
.btn-primary:focus,
.widget_search.search-submit,
.widget_search.search-submit:focus,
body.woocommerce-page.widget_shopping_cart_content.buttons.checkout,
body.woocommerce-page.widget_product_search.search-field+input,
body.woocommerce-page button.button.alt,
body.woocommerce-page#review_form#respond input#submit,
body.woocommerce-page.woocommerce-info a.button,
body.woocommerce-page.woocommerce-message a.button,
body.woocommerce-page.woocommerce-error a.button,
.woocommerce-cart.wc-proceed-to-checkout a.checkout-button,
body.woocommerce-page#payment#place_order,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.header.menu.featured-link {
    background-color: #957aca
}

.btn-primary,
.btn-primary:focus,
body.woocommerce-page.widget_shopping_cart_content.buttons.checkout {
    border-color: #957aca
}

.btn-primary:hover,
.widget_search.search-submit:hover,
body.woocommerce-page.widget_shopping_cart_content.buttons.checkout:hover,
body.woocommerce-page.widget_product_search.search-field+input:hover,
body.woocommerce-page.widget_product_search.search-field+input:focus,
body.woocommerce-page button.button.alt:hover,
body.woocommerce-page#review_form#respond input#submit:hover,
body.woocommerce-page.woocommerce-info a.button:hover,
body.woocommerce-page.woocommerce-message a.button:hover,
body.woocommerce-page.woocommerce-error a.button:hover,
.woocommerce-cart.wc-proceed-to-checkout a.checkout-button:hover,
body.woocommerce-page#payment#place_order:hover,
.header.menu.featured-link>a:hover {
    background-color: #886dbd
}

.btn-primary:hover,
body.woocommerce-page.widget_shopping_cart_content.buttons.checkout:hover {
    border-color: #886dbd
}

.testimonial__quote::before,
.latest-post__categories a,
.about-us__tag,
.meta-data__categories a,
.widget_calendar caption,
.widget_tag_cloud a,
.pagination a:hover,
.pagination.current,
.btn-success,
.btn-success:focus,
body.woocommerce-page.widget_price_filter.ui-slider.ui-slider-handle,
body.woocommerce-page.widget_price_filter.ui-slider.ui-slider-range,
body.woocommerce-page nav.woocommerce-pagination ul li span.current,
body.woocommerce-page nav.woocommerce-pagination ul li a:hover,
body.woocommerce-page div.product.woocommerce-tabs ul.tabs li.active {
    background-color: #73bfa6
}

blockquote,
.btn-success {
    border-color: #73bfa6
}

.latest-post__categories a:hover,
.about-us__tag:hover,
.meta-data__categories a:hover,
.widget_tag_cloud a:hover,
.btn-success:hover {
    background-color: #66b299
}

.btn-success:hover,
.main-navigation.sub-menu>li>.sub-menu {
    border-color: #66b299
}

body.woocommerce-page ul.products li.product a:hover img,
.woocommerce ul.products li.product a:hover img,
body.woocommerce-page.star-rating,
.woocommerce.star-rating,
body.woocommerce-page p.stars a {
    color: #73bfa6
}

@media(min-width:992px) {
    .header.menu.sub-menu>li,
    .main-navigation.sub-menu>li>a {
        background-color: #73bfa6
    }
    .header.menu.sub-menu>li>a,
    .header.menu.sub-menu>li>.sub-menu,
    .main-navigation.sub-menu>li>a {
        border-color: #66b299
    }
    .header.menu.sub-menu>li>a:hover,
    .main-navigation.sub-menu>li>a:hover {
        background-color: #66b299
    }
}

.btn-danger,
.btn-danger:focus {
    background-color: #fd7062
}

.btn-danger,
.btn-danger:focus {
    border-color: #fd7062
}

.btn-danger:hover {
    background-color: #f06355
}

.btn-danger:hover {
    border-color: #f06355
}