<style>
.note-editor {border-radius: 0px}
textarea {color: #FFF!important}
.btn-fullscreen{display: none}
.w3-input {border-bottom: 0px solid #05788d}
</style>

<header class="w3-container" style="padding-top:22px">
   <h5><b><i class="far fa-file-alt"></i> {%trans%}about_us.about_us{%endtrans%}</b></h5>
</header>

<div class="w3-row-padding">
  {% for about in aboutUs%}
  <div class="w3-col s12 m6 l4 w3-margin-bottom">
     <input type="hidden" id='{{about.id}}-rgpd' value="{{about.rgpdhtml}}">
    <div class="w3-card-2 w3-sand w3-border">
      <div class="w3-center w3-col s12 w3-padding-small">
      {{about.name}}
   
      </div>
      <div class="w3-row">
        <div class="w3-col s6">
          <button class="w3-btn w3-block w3-border w3-blue btn-{{ loop.index }}" onclick="editRgpd({{about.id}},'{{about.name}}', {{about.locales.id}})">
            <i class="far fa-edit fa-fw"></i>
          </button>
        </div>
        <div class="w3-col s6">
          <img src="{{about.locales.filename}}" class="w3-right w3-border w3-opacity-min" style="height:45px">
        </div>
      </div>
    </div>
  </div>  
  {% endfor %}
</div>

<div class="w3-container">
  {{form_start(form, {'attr': {'id': 'rgpd-form'}})}}
  <div class="w3-row-padding w3-sand w3-border w3-padding-16">
    <div class="w3-col s12 w3-hide">
      {{form_label(form.locales)}}
      {{form_widget(form.locales)}}
    </div>

    <div class="w3-col s12">
      {{form_label(form.name)}}
      {{form_widget(form.name)}}
      {{form_widget(form.rgpdhtml)}}
    </div>

    <div class="w3-col s12">
      <label>{%trans%}text{%endtrans%}</label>
	     <div id="summernote"></div>
    </div>
  </div>
  <div class="w3-row-padding w3-border-top">
    <div class="w3-col s12 w3-margin-top w3-margin-bottom">
      <button class="w3-btn-block w3-margin-left w3-right w3-button w3-border w3-green">
        <i class="fa fa-check"></i> {%trans%}save{%endtrans%}
      </button>
      <span class="w3-btn-block w3-button w3-right w3-border w3-white" onclick="clearRgpd()">
         <i class="fa fa-eraser"></i> {%trans%}clear{%endtrans%}
      </span>
    </div>
  </div>
  <input type="hidden" name="id" id="about_us_id">
  {{ form_end(form) }}
</div>

<script>

$('#summernote').summernote({
  placeholder: '{%trans%}text{%endtrans%} ....',
  tabsize: 3,
  height: 400,
  fontName:'Arial'
})


function clearRgpd(){ $('#summernote').summernote('reset')} 


function editRgpd(id,name,locales){
	$('#summernote').summernote('code', $('#'+id+'-rgpd').val())
  $('#about_us_id').val(id)
  $('#about_us_name').val(name)
  $('#about_us_locales').val(locales)
}

$('#rgpd-form').on('submit',function(e){
  e.preventDefault()
  obj=''
  $('.w3-overlay').show()
  $('#about_us_rgpdhtml').val($('#summernote').summernote('code'))
  setTimeout(function(){
    $.ajax({  
      url:'{{ path('admin_about_us_edit') }}',
      type: "POST",
      data:$('#rgpd-form').serialize(),
      success: function(data){ 
      console.log(data) 
        $('.w3-overlay').hide()
         if (data.status == 1){
          ajaxUpload('about-us')
          clearRgpd()
          $('#easy_text_name').val('')
        }
        else{
          for(i=0;i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)
          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  }, 500)
})

$('.btn-1').trigger('click')
</script>