<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/w3-4.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/mystyle.css') }}">
        <link rel="stylesheet" href="{{ asset('css/quill.snow.136.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dataTables.responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('css/summernote-lite.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/parsley/parsley.min.css') }}">
        <style>html,body,h1,h2,h3,h4,h5,p,a {font-family: "Raleway", sans-serif}</style>

        <script src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>
        <script src="{{ asset('js/quill.136.min.js') }}"></script>
        <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('js/buttons.flash.min.js') }}"></script>
        <script src="{{ asset('js/jszip.min.js') }}"></script>
        <script src="{{ asset('js/pdfmake.min.js') }}"></script>
        <script src="{{ asset('js/vfs_fonts.js') }}"></script>
        <script src="{{ asset('js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('js/buttons.colVis.min.js') }}"></script>
        <script src="{{ asset('js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ asset('js/summernote-lite.js') }}"></script>
        <script src="{{ asset('js/dataTables.rowReorder.min.js') }}"></script>
        <script src="{{ asset('js/instafeed.min.js') }}"></script>
        <script src="{{ asset('assets/parsley/highlight.min.js') }}"></script>
        <script src="{{ asset('assets/parsley/parsley.min.js') }}"></script>

        <script src="{{ asset('assets/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script> 
        {# <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script> #}
    </head>

    <body class="w3-light-grey">
        {% include 'admin/header.html' %}
        <div id="add" style="padding-top:24px">
            {% include 'admin/dashboard.html' %}
        </div>
        {% include 'admin/footer.html' %}
        {% include 'admin/javascript.html' %}
        {% include 'admin/modals.html' %}
    </body>
</html>