
<style>
li { list-style-type:none}
ul{padding: 0px}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {border: 0px solid #FFF!important}
.w3-input {border-bottom: 0px solid #05788d}
input, select, textarea {color: #000!important}

</style>
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fas fa-ellipsis-v"></i> {%trans%}menu{%endtrans%} <i class="far fa-plus-square fa-fw"></i></b></h5>
</header>

<div class="w3-padding-16 w3-container">

<div class="w3-border w3-sand">  

  {{ form_start(form, {'attr': {'id': 'menu-form'}})  }}

<div class="w3-row-padding w3-margin-top w3-border-bottom">
    <div class="w3-col s12 l2 m4 w3-margin-bottom">
      {{ form_label(form.active)}}<br>
      {{ form_widget(form.active)}}
    </div>
    <div class="w3-col s12 l2 m4 w3-margin-bottom">
      {{ form_label(form.isSubmenu)}}<br>
      {{ form_widget(form.isSubmenu)}}  
    </div>
    <div class="w3-col s12 l2 m4 w3-margin-bottom">
      {{ form_widget(form.superuser)}}
      {{ form_label(form.superuser)}} <br>
      {{ form_widget(form.admin)}} 
      {{ form_label(form.admin)}}<br> 
      {{ form_widget(form.manager)}}    
      {{ form_label(form.manager)}}<br>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-top w3-border-bottom">
    {%for locale in locales %}
    <div class="w3-col s12 l4 m6 w3-margin-bottom">
      <label>{% trans %}text{% endtrans %}  {{ locale.name }}</label>
      
      <div class="w3-row">
        <div class="w3-col" style="width:45px">
          <img src="{{locale.getFilename}}" style="height:45px" class="w3-border" title="{{locale.name}}">
        </div>
        <div class="w3-rest">
          <input type="text" data-local-id='{{locale.id}}' class="w3-input w3-border w3-white" placeholder="{{locale.name}}">
        </div>
      </div>
    </div>
    
    {% endfor %}

    <div class="w3-hide">
      {{ form_widget(form.submit)}}
    </div>
  </div>

    <div class="w3-row-padding w3-margin-top w3-border-bottom">
      <div class="w3-col s12 l4 m6 w3-margin-bottom">
        {{ form_label(form.icon)}}<br>
        {{ form_widget(form.icon)}}
      </div>
      <div class="w3-col s12 l4 m6 w3-margin-bottom">  
        {{ form_label(form.path)}}<br>
        {{ form_widget(form.path)}}  
      </div>
    </div>

    <div class="w3-row-padding w3-margin-top w3-border-bottom">
      <div class="w3-col s12 w3-margin-bottom">
        <span class="w3-btn w3-border w3-green w3-right w3-margin-top" onclick="$('#menu-form').trigger('submit')">
            <i class="fa fa-check"></i> {%trans%}save{%endtrans%}
          </span>
      </div>
  </div>
    {{ form_end(form) }}

  </div>
</div>

<script>

  
  $('#menu-form').on('submit',function(e){
  obj=''

  arr = []

  $('input[type=text').each(function( index ) {
    arr.push({id:$(this).attr('data-local-id'), name:$(this).val()})
  })

  e.preventDefault()
  $('.w3-overlay').show()
  $('.required').addClass('w3-hide')
    $.ajax({  
      url:'{{ path('admin_menu_add') }}',
      type: "POST",
      data: $('#menu-form').serialize()+'&locale='+JSON.stringify(arr),
      success: function(data){  
        console.log(data)
        $('.w3-overlay').hide()
        if (data.status == 1){
          ajaxUpload('menu-new')
        }
        else {
          for(i=0;i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)
          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  //}, 500)
})
</script>

