<!DOCTYPE html>
<html>
    <head></head>
    <div id="content">{% block content %}{% endblock %}</div>
    <body>
        <div id="modal-info" class="w3-modal" style="z-index:9999;padding-top:60px; padding-bottom: 32px">
            <div class="w3-modal-content w3-animate-zoom" style="max-width:900px">
                <div class="w3-col s12">
                    <div class="w3-row">
                        <div class="modal-head w3-panel w3-leftbar w3-col s12 w3-left-align">
                        <span class="w3-closebtn w3-padding-small w3-right" onclick="$('#modal-info').hide();ajaxUpload('admin-property-new');" style="cursor:pointer">
                            <i class="fa fa-times"></i>
                        </span>
                        <h2>
                            <span class="icon"></span>
                            <span class="modal-head-text"></span>
                        </h2>
                        <p class="modal-text w3-xlarge w3-padding-small"></p>
                        <div class="w3-margin-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>

                //0 = Success
                //1 = Check
                //2 = Error

            function modalConditions(i, text, head){
                a=[]
                a.push(['w3-pale-yellow w3-border-amber w3-pale-green w3-border-green w3-pale-red w3-border-red', 'w3-pale-green w3-border-green', 'fa-check'])
                a.push(['w3-pale-yellow w3-border-amber w3-pale-green w3-border-green w3-pale-red w3-border-red', 'w3-pale-yellow w3-border-amber', 'fa-info-circle'])
                a.push(['w3-pale-yellow w3-border-amber w3-pale-green w3-border-green w3-pale-red w3-border-red', 'w3-pale-red w3-border-red', 'fa-exclamation-triangle'])
                
                $('#modal-info').show()
                $('.modal-head').removeClass(a[i][0]).addClass(a[i][1])
                $('.icon').html('<i class="fa '+a[i][2]+'"></i>')
                $('.modal-head-text').text(head)  
                $('.modal-text').html(text)
            }

        //modalConditions (2, 'data.message', 'data.head')
        </script>
    </body>

</html>