
{% extends "admin/p-base.html.twig" %}

{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<style>
.StripeElement{box-sizing: border-box;height: 45px;padding: 11px 12px;border: 1px solid transparent;background-color: white;box-shadow: 0 1px 3px 0 #e6ebf1;-webkit-transition: box-shadow 150ms ease;transition: box-shadow 150ms ease}
.StripeElement--focus{box-shadow: 0 1px 3px 0 #cfd7df}
.StripeElement--invalid{border-color: #fa755a}
.StripeElement--webkit-autofill{background-color: #fefde5 !important}

.selectLabel{
	background-color: transparent !important;
	border-color: transparent !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	appearance: none;
}

.datepicker {
	padding: 8px;
	border-radius: 0px;
}

.title { width: 400px; text-align-last:center;margin: 0 auto; }

a {
	color: #23527c;
    text-decoration: underline;
}

</style>

<div class="w3-container" style="max-width: 100vw;overflow-x: hidden;">

	<div class="w3-xxlarge w3-row w3-xlarge w3-padding w3-margin-top w3-blue">
		<i class="fas fa-home"></i> {%trans%} property_bulletin.housing_bulletin {%endtrans%}
	</div>

	<h2 class="w3-center w3-text-blue"><label>
		{% if not property.guestbulletin %}
			{%trans%} property_bulletin.deposit_reasons {%endtrans%}
		{% else %}
			{%trans%} property_bulletin.reasons {%endtrans%}
		{% endif %}
		
		</label></h2>
	<div class=" w3-container w3-card-4 w3-light-grey w3-section w3-padding" style="max-width: 600px;margin: 0 auto;">

		<div> {{reasons | raw}} </div>
	</div>

	{% if property.guestbulletin %}
		{% form_theme form 
		'jquery.collection.html.twig'
		'guest-theme.html.twig'
		%}

		
		<div id="guest" class="w3-text-blue">
			{{ form(form) }}
		</div> 
	{% endif %}

	<div class="w3-container w3-card-4 w3-light-grey w3-section w3-padding" style="max-width: 600px;margin: 0 auto;">
		<form id="property_dynamic_fields">
			{% if not property.guestbulletin %}
				<input type="text" name="firstname" class="w3-input w3-border" placeholder="{%trans%} property_bulletin.name {%endtrans%}" required><br>
				<input type="text" name="telephone"  class="w3-input w3-border" placeholder="{%trans%} property_bulletin.telephone {%endtrans%}" required><br>
				<input type="text" name="email"  class="w3-input w3-border" placeholder="Email" required>

			{% else %}
				<div class="w3-margin">
					<input type="checkbox" id="data_veracity" value="0"  required> {%trans%} property_bulletin.declare_data_veracity {%endtrans%} <br>
				</div>

			{% endif %}
			<div class="w3-margin">
				<input type="checkbox" id="privacy_policy" value="0" required> {%trans%} property_bulletin.declare_agree {%endtrans%}
				<a class="w-inline-block more-info" href="#" onclick="modalConditions (1, '{{rgpd.getRgpdHtml|raw}}', '{{rgpd.getName}}')"> 
				{%trans%} privacy_policy {%endtrans%}<br></a>
			</div>
			<div class="w3-margin">
				<input type="checkbox" id="marketing" value="0"> {%trans%} property_bulletin.marketing_agree {%endtrans%} <br>
			</div>
		</form>
	</div>

	<span id="property_bulletin_submit" class="w3-btn w3-block w3-border w3-green w3-section w3-hide" onclick="$(`[name=PropertyBulletinType]`).trigger('submit')">
			<i class="fa fa-check"></i> {%trans%}submit{%endtrans%}
	</span>

	{% if property.securitydeposit %}
		<div class="w3-text-blue">
			<h2 class="w3-center">{%trans%} property_bulletin.security_deposit {%endtrans%} </h2>
			<div class=" w3-container w3-card-4 w3-light-grey w3-text-blue w3-section" style="max-width: 600px;margin: 0 auto;">
				
				<div class="w3-col s12 w3-large">
					<label>{%trans%}property_bulletin.amount {%endtrans%}:</label>
						<div class="w3-right"><label>{{(property.deposit.amount/100)|number_format(2)}} {{company.currency.currency}}</label></div>
				</div>

				<div class="paylog w3-col s12 w3-margin-top">
					<form id="payment-form">
						<label>{%trans%}property_bulletin.insert_card_n {%endtrans%}</label>
						<div id="card-element" class="w3-input w3-border" style="padding: 10px 8px"></div>
						<div id="card-errors" class="w3-text-red w3-small" role="alert"></div>
						<div class="set-token"></div>

					</form>
				</div>

				<div class="paylog w3-col s12 w3-right w3-margin-top">
					<span class="w3-button w3-block w3-green w3-border w3-right w3-margin-bottom" id="card-button" data-secret="{{payment_intent.data.client_secret}}" onclick="buyNow()">
						<i class="fa fa-check"></i> {%trans%}property_bulletin.pay_now{%endtrans%}
					</span>
				</div>

			</div>
		</div>

	{% else %}
		<script> $('#property_bulletin_submit').removeClass("w3-hide"); </script>
	{% endif %}
</div>


{% if property.securitydeposit %}
<script>
	$(document).ready(function(){});

		var key = '{{property.user.StripePublicKey}}'
		var stripe = ''
		var elements = ''
		var style = ''
		var card = ''
		var displayError = ''

		function buildStripe(k){
			
			if (k){
				stripe = Stripe(k)
				elements = stripe.elements()
				style = {
					base: {
						color: '#32325d',
						fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
						fontSmoothing: 'antialiased',
						fontSize: '18px',
						'::placeholder': {
							color: '#aab7c4'
						}
					},
					invalid: {
						color: '#fa755a',
						iconColor: '#fa755a'
					}
				}
				$('#card-errors').empty()
				card = elements.create('card', {style: style})
				card.mount('#card-element');
				card.addEventListener('change', function(event) {
					displayError = document.getElementById('card-errors')
					displayError.textContent = event.error ? event.error.message: ''
				})
			}
		}

		function handleCard(){
			//console.log($('#guest_name').val());
			stripe.handleCardPayment($('#card-button').data('secret'), card,{
				payment_method_data: {
					billing_details: {
						name: 
						$("[name='firstname']").show()
						? $("[name='firstname']").val()
						: $("#PropertyBulletinType_guest > div:first-child").find('.u-name').val()
						,
						email: 
						$("[name='email']").show()
						? $("[name='email']").val()
						: $("#PropertyBulletinType_guest > div:first-child").find('[type=email]').val()
						,
						phone:
						$("[name='telephone']").show() 
						? $("[name='telephone']").val()
						: $("#PropertyBulletinType_guest > div:first-child").find('[type=tel]').val()
					}
				},
				receipt_email: $("#PropertyBulletinType_guest > div:first-child").find('[type=email]').val()
			}
			).then(function(result) {
				if (result.error) {
					$('.w3-overlay').hide()
					modalConditions(1, result.error.message, 'check') 
				} 
				else{
					//console.log("sucess");
					//$('.w3-overlay').hide();
					//modalConditions (0, "Pagamento efectuado com sucesso !", 'success')
					//$('#payment-form').trigger('reset')
					//getUrlReceipt(result.paymentIntent.id)   
				}
			})
		}


		//pi_id = payment_intent_id
		/*
		function getUrlReceipt(pi_id){
				$.ajax({ 
				url :'{{ path('property_bulletin_add')}}',
				type: "POST",
				cache: false,
				data: 'pi_id='+pi_id,
				success: function(data){
					$('.w3-overlay').hide()
					if (data.status == 1){
						info = data.data.data.data[0]
						console.log(data)
						$('#payment-form').trigger('reset')
						modalConditions (0, data.message.text+' '+data.message.status+'<br><div class="w3-center w3-large"><a class="w3-button w3-border w3-blue w3-round" target="_blank" href='+info.receipt_url+'>receipt</a></div>', 'success')
						$('.bps').addClass(info.status).text(data.message.status)
						$('.paylog').remove()
					}
					else{
						modalConditions(1, data.message, 'check') 
					}
				},
				error:function(data){
					$('.w3-overlay').hide()
					modalConditions(2, 'wifi_error', 'error')
				}
			})
		} */

		function buyNow(){	
			if("{{property.guestbulletin}}"){
				//check property-bulletin if fields are valid to continue with the buy operation
				if($("[name='PropertyBulletinType']").show() && !$("[name='PropertyBulletinType']").parsley().validate()) return;
			}

			if($('#property_dynamic_fields').parsley().validate() !== true) return false;
			
			console.log($('#payment-form').serialize());

			$('#card-errors').empty()
			$('.w3-overlay').show()
			setTimeout(function(){
				stripe.createToken(card).then(function(result) {
					if (result.error) {
						var errorElement = document.getElementById('card-errors')
						errorElement.textContent = result.error.message
						$('.w3-overlay').hide()
						return
					}
					$.ajax({
						url :"{{ path('online_charge_credit_card') }}",
						type: "POST",
						data: $('#payment-form').serialize()+'&secret='+$('#card-button').data('secret')
						+'&property_id='+'{{property.id}}'+'&bookId='+$('#PropertyBulletinType_bookId').val(),
						cache: false,
						success: function(data){
							if(data.data != 'succeeded'){
								handleCard()
								$(`[name=PropertyBulletinType]`).trigger('submit')
							return
							}
							else if (data.status == 1){
								$('.w3-overlay').hide()
								//buildStripe(key)
								$('#payment-form').trigger('reset')
								modalConditions(0, data.message, 'success')

							}
							else{
								$('.w3-overlay').hide()
								modalConditions(1, data.message, 'check') 
							}
						},
						error:function(data){
							modalConditions(2, 'wifi_error', 'error')
						}
					}) 
				});
			}, 500)
		}

	buildStripe(key); 
	</script>
{% endif %}

<script src="{{ asset('js/jquery.collection.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
{# <script src="{{ asset('js/html2canvas.min.js') }}"></script> #}

<script type="text/javascript">
	$(document).ready(function(){
		
		$("#PropertyBulletinType_checkIn,#PropertyBulletinType_checkOut").blur(function() {
			$(this).parsley().destroy();
			$(this).parsley();
		})
	});
	/*AJAX______________________________________________________*/
	$("[name='PropertyBulletinType']").on('submit',function(e)
	{	

		obj=''

		e.preventDefault()

		if($('#data_veracity').parsley().validate() !== true 	&& !$('#data_veracity').parsley().validate()[0].errorMessage
		|| $('#privacy_policy').parsley().validate() !== true 	&& !$('#privacy_policy').parsley().validate()[0].errorMessage) return false;

		$('.w3-overlay').show()

		//form = $($(this)).serialize() + '&marketing=' + $('#marketing').is(':checked');

		$.ajax({  
			url:'{{ path('property_bulletin_add') }}',
			type: "POST",
			data: new FormData($(this)[0]), 
			processData: false, 
			contentType: false,
			cache: false,
			success: function(data){  
				$('.w3-overlay').hide()
				if (data.status == 1){
					modalConditions (0, "{%trans%}property_bulletin.sucess_send_bulletin {%endtrans%}"+ generatedPdfFile(data.data),'success') //+  <div id='pdf' onclick='print()'>"+data.data +'</div'+""
					//$("[name='PropertyBulletinType']")[0].reset();
					$(".w3-container").remove();
				}
				else{
					//$('#PropertyBulletinType_bookId').parsley().validate();
					//customError(data.data, '{%trans%}unique_id{%endtrans%} ....')
				}
			},
			error:function(data){
				$('.w3-overlay').hide()
				$('#modal-error').show()
			}
		})
	})
	
	function generatedPdfFile(data) {

		var doc = new jsPDF({})
		doc.fromHTML(data, 15, 15,{'width': 170});

		doc.setProperties({
			title: '{%trans%} property_translation.instructions {%endtrans%}'+'.pdf',
		});

		var isMobile = false; //initiate as false
		// device detection
		if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
			|| /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) { 
			isMobile = true;
		}

		var blob = isMobile?URL.createObjectURL(doc.output('dataurlnewwindow')):doc.output('bloburl')
		 
		return pdf = 
		'<br>{%trans%} property_bulletin.intructions_sent {%endtrans%}<br>'
		+'<div class="w3-col s6 w3-section"><label class="w3-margin-right">{%trans%} property_bulletin.view_instructions{%endtrans%}: </label>'
		+'<a title="View Instructions" onclick="var windowUrl = window.open(this.href,\'window\',\'width=640,height=480,top=75,left=75,resizable,scrollbar=no,toolbar=no,menubar=no\');'
		+'return false" target="_blank" class="w3-button w3-border w3-blue" href="'+blob+'"> <i class="fas fa-file-pdf"></i></a></div>'	
	}

    function first_required() {
        $( "#PropertyBulletinType_guest > div:first-child").find('[type=email],[type=tel]').each(
            function(index, element){
					$(element).attr('required','required');
            }
        ) 
    }


	$(".add_guest_transmite_click").click(function() {
		$( "#add_guest" ).click();
				
		$('input.add_guest_transmite_click').val( +$('input.add_guest_transmite_click').val() + 1);

		if($('input.add_guest_transmite_click').val() >= {{guestsMax}}) $('input.add_guest_transmite_click').val({{guestsMax}});

		$('.occupants_text').removeClass("w3-hide");

		var d = new Date();
		d.setDate(d.getDate()-1);

		$("#PropertyBulletinType_guest_0_birthDate").datepicker({
			autoclose: true,    
			toggleActive: true,
			startView: 2,
			endDate: d,
			format: 'yyyy-m-d',
		});

		//$('.datepicker').removeClass('datepicker');
		
	});

	$(document).on('click','.collection-remove',function(){
		$(this).remove();
		$('input.add_guest_transmite_click').val( +$('input.add_guest_transmite_click').val() - 1);

		if($('input.add_guest_transmite_click').val() == 0){
				$('input.add_guest_transmite_click').val('');
				$('.occupants_text').addClass("w3-hide");
		}

	})

	window.Parsley.addAsyncValidator('bookid', function (xhr) {
		//console.log(this.$element); // jQuery Object[ input[name="q"] ]
		return xhr.responseText == 1;
	}, '{{ path('validate_field') }}'
	);

	if("{{property.guestbulletin}}"){
		$('.my-selector').collection({
			//init_with_n_elements: 1,
			//min: 1,
			max: 20,
			allow_up: false,
			allow_down: false,
			add: '<a id="add_guest" href="#" class="btn btn-default w3-hide">Add</a>',
			add_at_the_end: true,
			after_up: first_required,
			after_down: first_required,
			after_add: first_required,
			after_remove: first_required,
			after_duplicate: first_required
		});
	}

	$(document).on('click','#card-button,#property_bulletin_submit',function(){
		$("#property_dynamic_fields").parsley().validate();
	});

	$('#marketing').change(function() {
		$('#PropertyBulletinType_marketing').val($('#marketing').is(':checked').toString());//
	});

	//$("#PropertyBulletinType_bookId").parsley({ errorMessage: "{%trans%}unique_id{%endtrans%}" })		



</script>

{% endblock %}