 {% extends "admin/modals.html.twig" %} 

{% block content %}
<link rel="stylesheet" href="{{ asset('assets/parsley/parsley.min.css') }}">

<style>
li { list-style-type:none}
ul{padding: 0px}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {border: 0px solid #FFF!important}
.w3-input {border-bottom: 0px solid #05788d}
input, select, textarea {color: #000!important}

</style>
<header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fas fa-ellipsis-v"></i> {% trans %}property.property{% endtrans %} <i class="far fa-plus-square fa-fw"></i></b></h5>
</header>

{% form_theme form 
'jquery.collection.html.twig'
'property-theme.html.twig'
%}

{{ form(form) }}

<div class="w3-container">
    <div class="w3-sand">
        <div class="w3-col s12 w3-margin-top w3-margin-bottom ">
            <span class="w3-btn w3-border w3-green w3-right w3-margin-top" onclick="$('#PropertyType_submit').trigger('submit')">
                <i class="fa fa-check"></i> {%trans%}save{%endtrans%}
            </span>
        </div>
    </div>
</div>

<script src="{{ asset('js/jquery.collection.js') }}"></script>
<script src="{{ asset('assets/parsley/highlight.min.js') }}"></script>
<script src="{{ asset('assets/parsley/parsley.min.js') }}"></script>
<script src="{{ asset('assets/parsley/i18n/'~ locale ~ '.js') }}"></script>
<script>

    $('[name="PropertyType"]').parsley();

    $('[name="PropertyType"]').on('submit',function(e){
        $('.w3-overlay').show()
        e.preventDefault()
        
        //$('.required').addClass('w3-hide')
            $.ajax({  
                url:'{{ path('property_add') }}',
                type: "POST",
                data: $('[name="PropertyType"]').serialize(), //+'&locale='+JSON.stringify(arr),
                success: function(data){  
                    console.log(data)
        
                    if (data.status == 1){
                        //$('[name="PropertyType"]')[0].reset();
                        
                        $('.w3-overlay').hide()

                        var list = [];
                            for (id in data.data)
                                list.push('<li><img class="w3-border w3-opacity-min w3-margin" style="height:45px" src="'+data.paths[id]+'"><a target="_blank" href="'+ data.data[id] +'">'+data.data[id]+'</li>');

                        modalConditions(0, "{%trans%}property.created_successfully {%endtrans%}"+"<br><ul class='w3-text-blue w3-border'>"+list.join('')+"</ul>" , 'success')
                    
                       //setTimeout(function(){ window.location= ajaxUpload('admin-property-new') }, 3000);
                    }
                    else {
                    /*
                        for(i=0;i<data.data.length;i++)
                            obj += data.data[i]+'<br>'
                        $('#set-fields').html(obj)
                        $('#modal-fields').show()
                    */
                    }
                },
                error:function(data){
                    $('.w3-overlay').hide()
                    $('#modal-error').show()
                }
            })
        //}, 500)
    })

    $('.details').collection({
        init_with_n_elements: 0,
        min: 0,
        max: 1,
        allow_up: false,
        allow_down: false,
        allow_remove: true,
        allow_add: true,
        add: '<a id="detail_add" href="#" class="btn btn-default w3-hide">Add</a>',
        remove: '<a id="detail_remove" href="#" class="btn btn-default w3-hide">Remove</a>',
        add_at_the_end: true
    });

    $('.translation').collection({
        init_with_n_elements: 5,
        min: 1,
        max: 5,
        allow_up: false,
        allow_down: false,
        allow_remove: false,
        allow_add: false,
        add: false,
        remove: false,
        add_at_the_end: false
    });

    if(!$('#PropertyType_securityDeposit').is(':checked'))
        $('#PropertyType_deposit').parent().toggleClass("w3-hide");

    $('#PropertyType_securityDeposit').change(function() {
        //console.log("teste");
        $('#PropertyType_deposit').parent().toggleClass("w3-hide");
        $('#PropertyType_deposit').prop('required', function(i, v) { return !v; });

        /*if(!$('#PropertyType_securityDeposit').is(':checked'))
            $('#detail_remove').trigger("click");
        else
            $('#detail_add').trigger("click"); */
    })

    $('#PropertyType_guestBulletin').change(function() {

        if(!$('#PropertyType_guestBulletin').is(':checked'))$('#detail_remove').trigger("click");
        else $('#detail_add').trigger("click");

        $('#PropertyType_hotelUnitCode, #PropertyType_establishment, #PropertyType_sefApiKey').parent().toggleClass("w3-hide");
        //$('#PropertyType_hotelUnitCode, #PropertyType_establishment, #PropertyType_sefApiKey').attr("required", true);

        $('#PropertyType_guestBulletin').is(':checked')
        ? $('#PropertyType_hotelUnitCode, #PropertyType_establishment, #PropertyType_sefApiKey').attr('required', true)
        : $('#PropertyType_hotelUnitCode, #PropertyType_establishment, #PropertyType_sefApiKey').removeAttr('required')
    })



    $( "select.locales" ).each(function( index, element ) {
    $(element).find('option:eq('+index+')').prop('selected', true);
    $(element).parent().prepend('<img class="w3-border w3-opacity-min w3-margin-top w3-margin-left" src="'+$(element).find('option:selected')[0].text+'" style="height:45px" />')
    });


    $(function() {
    $('textarea.ckeditor').ckeditor();
    });

	window.Parsley.addAsyncValidator('nif', function (xhr) {
		//console.log(this.$element); // jQuery Object[ input[name="q"] ]
		return xhr.responseText == 1;
	}, '{{ path('validate_nif') }}'
	);


 
    window.Parsley.addAsyncValidator('postal_code', function (xhr) {
        //console.log(this.$element); // jQuery Object[ input[name="q"] ]
            return xhr.responseText == 1;
        }, '{{ path("validate_zip_code") }}',
        /*    {
                "data": {
                    "code": $( "#PropertyType_details_0_postalCode").val()
                }
            }
        */
    );





</script>
{% endblock %}
