.color-picker {
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -175px;
    z-index: 10
}

@media(max-width:767px) {
    .color-picker {
        display: none
    }
}

.color-picker a {
    display: block;
    position: relative;
    height: 50px;
    width: 50px;
    padding: 20px;
    margin-left: -30px;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out
}

.color-picker a:hover,
.color-picker a.selected {
    margin-left: 0
}

.color-picker a:before {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    background: #000;
    opacity: .2
}

.color-picker a.selected:before {
    background: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 1px 0 0 rgba(50, 50, 50, .25);
    -moz-box-shadow: 0 1px 0 0 rgba(50, 50, 50, .25);
    box-shadow: 0 1px 0 0 rgba(50, 50, 50, .25)
}

.color_purple {
    background-color: #957aca
}

.color_blue {
    background-color: #1fa7da
}

.color_orange {
    background-color: #ff7f66
}

.color_green {
    background-color: #96ca2d
}

.color_red {
    background-color: #ff5879
}

.color_light_blue {
    background-color: #6dbcdb
}