<meta name="viewport" content="width=device-width, initial-scale=1">
<body style="padding:64px 8px;background:#EEE;margin:0px;font-family:Lato,sans-serif">
<div style="background: #fdf5e6;border: 1px solid #999;max-width:500px; margin:0 auto">
<div style="padding:12px 8px">	
    <h4>{{property['name']|capitalize}} - {{translations["instructions"]|capitalize}}</h4>
    <hr>
    <p>
      {{property['instructions']|raw}} 
    </p>
    <p>
    {{translations["team"]}}, {{company.getName}}.
    </p><br>
    <img src='{{logo}}'  style='width:80px;'>

</div>
</div>
</body>