<!DOCTYPE html>
<html lang="{{langCode}}" xml:lang="{{langCode}}" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155003734-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ga_code}}');
    </script>

	 {% block meta %}

        {% if page != "beach"%}
            <meta name="description" content="{{seo.description}}">
        {% endif %}

		<!-- Google / Search Engine Tags -->
		<meta itemprop="name" content="{{seo.title}}">
		<meta itemprop="description" content="{{seo.description}}">
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="{{company.getLinkMyDomain}}">
		<meta property="og:title" content="{{seo.title}}">
		<meta property="og:description" content="{{seo.description}}">
		<!-- Twitter Meta Tags -->
		<meta name="twitter:title" content="{{seo.title}}">
		<meta name="twitter:description" content="{{seo.description}}">

		<meta charset="UTF-8">
		<meta content="summary" name="twitter:card">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta content="Webflow" name="generator">
		<meta name="keywords" content="{{seo.keywords}}">
		<meta name="robots" content="index,nofollow">
        
        {% set path = asset('/upload/gallery/')  %}
 		<!-- Google / Search Engine Tags -->
		<meta itemprop="image" content="{{path}}{{company.getLogo}}">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="{{company.getLinkMyDomain}}">
		<meta property="og:type" content="website">
		<meta property="og:image" content="{{path}}{{company.getLogo}}">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content="{{path}}{{company.getLogo}}">
		<meta name="viewport" content="width=device-width, user-scalable=no">
  {% endblock %}

	<link rel="canonical" href="{{company.getLinkMyDomain}}">
	<link rel="alternate" hreflang="pt" href="{{company.getLinkMyDomain}}/pt">
	<title>{% block title %}{{seo.title}}{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Surjith S M">
    <meta name="description" content="Clarinha Guedes Obstetricia-Ginecologia HTML5 Template ">
    <meta name="keywords" content="clinica, consultas, exames, obstetricia, ginecologia">
    
    <link rel="shortcut icon" href="{{asset('assets/clarinhaguedes/images/favicon.jpg')}}" type="image/x-icon">

    <link href="{{asset('assets/clarinhaguedes/css/style.css')}}" rel="stylesheet">
    <link rel="alternate stylesheet" title="purple" media="screen" href="{{asset('assets/clarinhaguedes/css/themes/purple.css')}}">
    <link rel="alternate stylesheet" title="blue" media="screen" href="{{asset('assets/clarinhaguedes/css/themes/blue.css')}}">
    <link rel="alternate stylesheet" title="orange" media="screen" href="{{asset('assets/clarinhaguedes/css/themes/orange.css')}}">
    <link rel="alternate stylesheet" title="green" media="screen" href="{{asset('assets/clarinhaguedes/css/themes/green.css')}}">
    <link rel="alternate stylesheet" title="red" media="screen" href="{{asset('assets/clarinhaguedes/css/themes/red.css')}}">
    <link rel="alternate stylesheet" title="light-blue" media="screen" href="{{asset('assets/clarinhaguedes/css/themes/light-blue.css')}}">
    <link href="{{asset('assets/clarinhaguedes/css/style-switcher.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset('slick/slick-theme.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('slick/slick.css')}}">

    <script src="{{asset('assets/clarinhaguedes/js/modernizr.js')}}"></script>

    <script type="application/ld+json">
	{
		"@context": "http://schema.org/",
		"@type": "WebSite",
		"name": "obstetricia-ginecologia",
		"url": "http://obstetricia-ginecologia.com/"
	}
	</script>

	<script type="application/ld+json">
	{
		"@context": "http://schema.org/",
		"@type": "BreadcrumbList",
		"itemListElement":
		[
			{
				"@type": "ListItem",
				"position": "1",
				"item": {
						"@id": "http://obstetricia-ginecologia.com/",
						"name": "Home"
				}
			}
					]
	}
	</script>
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Corporation",
		"name": "obstetricia-ginecologia",
		"url": "http://obstetricia-ginecologia.com/",
		"logo": "",
		"contactPoint": {
			"@type": "ContactPoint",
			"telephone": "(+351) 282 484 464",
			"contactType": "customer service",
			"areaServed": "PT",
			"availableLanguage": "Portuguese"
		}
	}
	</script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v5.0"></script>

    <div class="top">
        <div class="top__background"></div>
        <div class="container">
            <div class="top__tagline">
                        <a href="{{ path('translation', {lang: 'pt', page: page}) }}" onclick="$('.w3-overlay').show()"><img style="height: 15px;" src="{{asset ('images/icons/pt.gif')}}"></a>&emsp;

                        <a href="{{ path('translation', {lang: 'en', page: page}) }}" onclick="$('.w3-overlay').show()"><img style="height: 15px;" src={{asset ('images/icons/en.gif')}}></a>&emsp;
            </div>
        </div>
    </div>


    <div class="container">
        <header class="header">
            <div class="logo">
                {% set path = asset('/upload/gallery/')  %}
                <a href="{{path('index')}}"> <img src="{{path}}{{company.getLogo}}" alt="{{company.getName}}" srcset="{{path}}{{company.getLogo}}, {{path}}{{company.getLogo}} 2x" class="img-responsive" width="187" height="90"> </a>
            </div>
            <a href="#" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"> <span class="navbar-toggle__text">MENU</span> <span class="navbar-toggle__icon-bar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </span>
            </a>
            <div class="header-widgets">
                <div class="widget_nav_menu">
                    <div id="navbar" class="navbar-top-collapse horizontal-menu collapse">
                        <ul id="menu-main-menu" class="menu">
                            <li class="menu-item current-menu-item current_page_item"><a href="{{ path('index') }}">{% trans %}navbar.home{% endtrans %}</a></li>
                            <li class="menu-item"><a href="{{ path('about') }}">{% trans %}navbar.about_us{% endtrans %}</a></li>
                            <li class="menu-item menu-item-has-children"><a href="{{ path('consultations') }}">{% trans %}navbar.consultations{% endtrans %}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="{{ path('consultations') }}">{% trans %}cs_list{% endtrans %}</a></li>
                                        {{render(controller(
                                            'App\\Controller\\HomeController::navbarConsultations'
                                        ))}}
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="{{ path('exams') }}">{% trans %}navbar.exams{% endtrans %}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="{{ path('exams') }}">{% trans %}ex_list{% endtrans %}</a></li>
                                        {{render(controller(
                                            'App\\Controller\\HomeController::navbarExams'
                                        ))}}
                                </ul>
                            </li>
                            <li class="menu-item"><a href="{{ path('other_services') }}">{% trans %}navbar.other_services{% endtrans %}</a></li>
                            <li class="menu-item"><a href="{{ path('gallery') }}">{% trans %}navbar.gallery{% endtrans %}</a></li>
                            <li class="menu-item"><a href="{{ path('contact') }}">{% trans %}navbar.contact{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>


    <div class="container">
        <div class="row">
        
            {% block content %}{% endblock %}

            {#<div class="col-xs-12  col-md-3  col-md-pull-9">

                <div class="sidebar">
                    {{ render(controller(
                        'App\\Controller\\HomeController::sideBar'
                    )) }}
                    <div class="widget  widget-skype">
                         <a class="skype-button" href="skype:echo123"> <i class="fa  fa-skype"></i>
                            <p class="skype-button__title">Skype Call</p>
                        </a>
                    </div>
                    <div class="widget  widget_text">
                        <h4 class="sidebar__headings">PORTIMÃO</h4>
                        <div class="textwidget">
                            <div class="icon-box" style="height:50px"><i class="fa  fa-clock-o  fa-3x"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">10.00 - 12.30</h4>
                                     <span class="icon-box__subtitle">Domingo FECHADO</span> 
                                </div>
                            </div>
                        </div>

                        <div class="textwidget">
                            <a class="btn  btn-danger  btn-rounded" href="tel:282 416 430" target="_self"><i class="fa fa-phone"></i> 282 416 430</a>
                            <a class="btn  btn-danger  btn-rounded" href="tel:968 649 371" target="_self"><i class="fa fa-phone"></i> 968 649 371</a>
                            <a class="btn  btn-danger  btn-rounded" href="tel:919 755 805" target="_self"><i class="fa fa-phone"></i> 919 755 805</a>
                        </div>
                    </div>

                    <div class="widget  widget_text">
                        <h4 class="sidebar__headings">LAGOS</h4>
                        <div class="textwidget">
                            <div class="icon-box" style="height:50px"><i class="fa  fa-clock-o  fa-3x"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">8.00 - 19.00</h4>
                                     <span class="icon-box__subtitle">Domingo FECHADO</span> 
                                </div>
                            </div>
                        </div>

                        <div class="textwidget">
                            <a class="btn  btn-danger  btn-rounded" href="tel:282 770 050" target="_self"><i class="fa fa-phone"></i>282 770 050</a>
                        </div>
                    </div>

                    {{render(controller(
                        'App\\Controller\\HomeController::socialMediaIcons'
                    ))}}
                </div>

            </div>#}
        </div>

    </div>

    <div class="footer-gradient"></div>
    <footer class="footer">
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom__left"> 2020 - {% trans %}footer.rights_reserved{% endtrans %} Clarinha Guedes - Ginecologia - Obstetricia
                Powered by <a href="http://www.intouchbiz.com/" target="_blank" class="w3-hover-text-green">Intouchbiz</a></div>
                <div class="footer-bottom__right">
                    <div class="fb-like" data-href="https://pt-pt.facebook.com/pages/category/Doctor/Dr-Pedro-Clarinha-Guedes-Obstetricia-Ginecologia-127030320838730/" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
                </div>
            </div>
        </div>
    </footer>

    <div class="color-picker">
        {# <a href="javascript:void(0);" onclick="setActiveStyleSheet('purple'); return false;" class="color_purple"></a> #}
        {# <a href="javascript:void(0);" onclick="setActiveStyleSheet('blue'); return false;" class="color_blue"></a>
        <a href="javascript:void(0);" onclick="setActiveStyleSheet('orange'); return false;" class="color_orange"></a>
        <a href="javascript:void(0);" onclick="setActiveStyleSheet('green'); return false;" class="color_green"></a>
        <a href="javascript:void(0);" onclick="setActiveStyleSheet('red'); return false;" class="color_red"></a>
        <a href="javascript:void(0);" onclick="setActiveStyleSheet('light-blue'); return false;" class="color_light_blue"></a> #}
    </div>



    <script type="text/javascript" src="{{asset('assets/clarinhaguedes/js/jquery.min.js')}}"></script>

    <script type="text/javascript" src="{{asset('assets/clarinhaguedes/js/bootstrap.min.js')}}"></script>

    <script type="text/javascript" src="{{asset('assets/clarinhaguedes/js/picturefill.min.js')}}"></script>

    <script src="{{asset('assets/clarinhaguedes/js/style-switcher.js')}}"></script>

    <script type="text/javascript" src="{{asset('assets/clarinhaguedes/js/main.js')}}"></script>

    <script src="{{asset('slick/slick.min.js')}}"></script>

    <script>
        $('.content-container-slider').slick({
            accessibility: false,
            arrows:false,
            slidesToShow: 3,
            slidesToScroll: 3,
            autoplay: true,
            autoplaySpeed: 3000,
            dots: true,
            responsive: [
                {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    infinite: true,
                    dots: true
                }
                },
                {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
                },
                {
                    breakpoint: 479,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        autoplaySpeed: 6000,
                    }
                }
                
            ]
        });
    </script>

</body>

</html>