
{# {% extends "admin/p-base.html.twig" %} #}
{% block AdminType_label %}{% endblock %}
{% block AdminType_errors %}{% endblock %}

{% block AdminType_widget %}
<div class="w3-container">
	<div class="w3-border w3-sand">
		<div class="w3-row-padding w3-margin-top property">
			<div class="w3-quarter w3-margin-bottom">  
				{{ form_label(form.username)}}
				{{ form_widget(form.username)}}
			</div>
			<div class="w3-quarter w3-margin-bottom">  
				{{ form_label(form.email)}}
				{{ form_widget(form.email)}}
			</div>
			<div class="w3-col s12 l2 m4 w3-margin-bottom w3-hide">  
				{{ form_label(form.plainPassword)}}
				{{ form_widget(form.plainPassword)}}
			</div>
		</div>
	</div>
</div>

{% endblock %}




